# Binaries
saving/saving
Merchants/merchants
Cards/cards
TopupWorker/topup-worker
TopupWorker/setup/setup

# Databases
*.db
*.db-shm
*.db-wal

# macOS
.DS_Store

# IDE
.idea/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Go
vendor/

# Logs
*.log
wire-android/wire-release.jks
wire-android/local.properties
wire-android/play-service-account.json
