{
    on_demand_tls {
        ask http://localhost:8090/caddy/check-domain
    }
}

saving.nivic.dev {
    reverse_proxy localhost:8093
}

go.nivic.dev {
    reverse_proxy localhost:8087
}

:443 {
    tls {
        on_demand
    }
    reverse_proxy localhost:8090
}
