global
  log     127.0.0.1 alert
  log     127.0.0.1 alert debug
  maxconn 3000

defaults
  log     global
  option  dontlognull
  option  persist
  option  redispatch
  retries 3
  timeout connect 5000
  timeout client  50000
  timeout server  50000

resolvers docker
  nameserver dns1 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry   1s
  hold other      10s
  hold refused    10s
  hold nx         10s
  hold timeout    10s
  hold valid      10s
  hold obsolete   10s

listen haproxy-stats
  bind  *:1936
  mode  http
  stats enable
  stats hide-version
  stats refresh 5s
  stats uri     /haproxy?stats
  stats realm   Haproxy\ Statistics
  stats auth    haproxy:haproxy

listen rabbitmq
  bind    *:5672
  mode    tcp
  option  tcplog
  balance roundrobin
  server  rabbitmq-node-1 rabbitmq-node-1:5672 check inter 1000 rise 3 fall 3 resolvers docker init-addr none,libc
  server  rabbitmq-node-2 rabbitmq-node-2:5672 check inter 1000 rise 3 fall 3 resolvers docker init-addr none,libc
  server  rabbitmq-node-3 rabbitmq-node-3:5672 check inter 1000 rise 3 fall 3 resolvers docker init-addr none,libc

listen rabbitmq-management
  bind    *:15672
  mode    http
  option  httplog
  balance roundrobin
  server  rabbitmq-node-1 rabbitmq-node-1:15672 check inter 1000 rise 3 fall 3 resolvers docker init-addr none,libc
  server  rabbitmq-node-2 rabbitmq-node-2:15672 check inter 1000 rise 3 fall 3 resolvers docker init-addr none,libc
  server  rabbitmq-node-3 rabbitmq-node-3:15672 check inter 1000 rise 3 fall 3 resolvers docker init-addr none,libc
